<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="/" class="logo d-flex align-items-center w-auto">
                iCARE system
              </a>
            </div>

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                 <a href="/users/sign_in" class="btn btn-outline-primary">User Login</a>

                  <a href="/admin/login" class="btn btn-outline-primary ml-3">Admin Login</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>