<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="/" class="logo d-flex align-items-center w-auto">
                iCARE system
              </a>
            </div>

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row g-3", "data-turbo": false }) do |f| %>


                  <div class="col-12">
                    <label class="form-label">Email</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Password</label>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                  </div>


                  <div class="actions">
                    <%= f.submit "Log in" , class: "btn btn-primary w-100" %>
                  </div>
                <% end %>

              </div>
            </div>

            <div class="credits">
              <a href="/users/sign_up">Register</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>